= form_for @task do |f|
  = f.label :title, :class => 'control-label'
  = f.text_field :title, :class => 'text_field span12'
  = f.label :description, :class => 'control-label'
  = f.text_area :description, :class => 'text_area span12'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to 'Cancel', tasks_path, :class => 'btn'
